//Variables
$color-primario: deepskyblue;
$color-secundario:  #64095e;
$color-secundario-claro: #e55b5f;
$color-texto: white;
$ancho-maximo: 1200px;
$espaciado-general: 20px;
$color-boton: deepskyblue;
$color-fondo-footer: black;